.el-table__cell {
  .cell {
    padding: 8px !important;
  }
}
.p20 {
  padding: 20px;
}
.p10 {
  padding: 10px;
}
.plr10 {
  padding-right: 10px;
  padding-left: 10px;
}

.p15 {
  padding: 15px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 20px;
}
.bgc-container {
  background-color: #f5f2f0;
}

.bgc-content {
  background-color: #fff;
}
.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}
